body{
    margin: 0;
    box-sizing: border-box;
}
/*index*/
form {
    padding-top: 20px;
    display: grid;
    width: 300px;
    box-shadow: 3px 3px 3px 3px rebeccapurple;
    gap: 1rem;
    margin-left: 500px;
    border-radius: 5%;
    border: 3px solid #fff;
  }
  
  textarea {
    resize: none;
  }
  h2{
      color: rebeccapurple;
  }
  a{
    text-align: center; 
    border: 1px solid lime; 
    box-shadow: 2px 2px 2px 2px green; 
    background-color:lime;
    text-decoration: solid;
    color: #fff;
    border-radius: 20%;
  }
  a h3{
      padding: -20px;
      height: 20px;
  }
  #name{
      border: none;
      border-bottom: 1px solid gray;
  }
  #age{
    border: none;
    border-bottom: 1px solid gray;
  }
  #email{
    border: none;
    border-bottom: 1px solid gray;
  }
  button{
      border-radius: 15%;
      background-color: rebeccapurple;
      margin-bottom: 15px;
      border-style: groove;
      border: rebeccapurple;
  }
  button h4{
    color: #fff;
    margin: 5px;
  }
  /*THANKYOU Page*/
.Nice{
  text-align: center;
}
.Nice h1{
    color: rebeccapurple;
    animation: jiggle 0.7s infinite;
}
.Nice2{
 text-align: center;
}
.Nice2 h2{
    color: rebeccapurple;
   animation: jiggle 0.7s infinite;
}

@keyframes jiggle {
    0% {
      transform: rotate(0deg);
    }
  
    20% {
      transform: rotate(-20deg);
    }
  
    30% {
      transform: rotate(20deg);
    }
  
    40% {
      transform: rotate(-10deg);
    }
  
    50% {
      transform: rotate(10deg);
    }
  
    60% {
      transform: rotate(-5deg);
    }
  
    70% {
      transform: rotate(5deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  @keyframes raimbow {
    0% {
      background-color: red;
    }
  
    20% {
        background-color: green;
    }
  
    30% {
        background-color: blue;
    }
  
    40% {
        background-color: purple;
    }
  
    50% {
        background-color: pink;
    }
  
    60% {
        background-color: orange;
    }
  
    70% {
        background-color: yellow;
    }
  
    100% {
        background-color: gray;
    }
  }
  .Video{
      text-align: center;
  }
  footer{
      background-color: #ccc;
      padding: 20px;
      animation: raimbow 0.3s infinite;
      margin-bottom: -100px;
  }